<!DOCTYPE html>
<html>
    <!-----------------BEGIN HEAD, IMPORT ALL STYLING, SET TITLE-------------------->
    <head>
        <meta charset="utf-8">
        <title></title>


        <!------------------- IMPORT BOOTSTRAP HERE --------------->
            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

            <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

            <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


        <!-------------------IMPORT STYLESHEET AND FLAT UI FRAMEWORK ------->
        <link rel="stylesheet" type="text/css" href="/static/flat-ui.css">
        <link rel="stylesheet" type="text/css" href="/static/styles.css">

    </head>
    <!-------------------END HEAD---------------------------------->



    <!-------------BEGIN BODY --------------->
    <body>
        <div class="container answerholder">
            <div class="row">
                <div class="col-md-1 backbutton">
                    <a href="/"><span class="glyphicon glyphicon-chevron-left"></span></a>
                </div>

                <div class="col-md-11 answer">
                    <h2>{{word}}</h2>
		    {% for o in etymology %}
                    <p> {{o}} </p>
		    {% endfor %}
                </div>
            </div>
        </div>

    </body>
</html>
